.header {
  background-color: #1c1c1c;
  color: #fff;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.header-content {
  width: 100%;
  /* max-width: 1100px;  */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
  height: 100%;
}

.header-logo {
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  color: #ff625f;
}

.header-nav button {
  margin-left: 15px;
  background: transparent;
  border: 1px solid #ff625f;
  color: #ff625f;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: all 0.2s;
}

.header-nav button:hover {
  background-color: #ff625f;
  color: white;
}

.logout-btn {
  border-color: #ff3b3b;
  color: #ff3b3b;
}

.logout-btn:hover {
  background-color: #ff3b3b;
  color: white;
}

